@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This Privacy Policy outlines how KhumaloCraft ("we," "us," or "our") collects, uses, and protects information gathered from visitors to our website, on Khumalocraft's' ("website").

    Information We Collect

    Personally Identifiable Information: We may collect information you directly provide, such as your name, email address, mailing address, phone number, and payment details when you create an account, place an order, or contact us.
    Non-Personal Information: We may automatically collect data about your device (e.g., IP address, browser type) and your use of the website (e.g., pages visited, actions taken) through cookies and similar technologies.
    How We Use Your Information

    To operate the website and provide services: Processing orders, providing customer support, and improving website functionality
    To communicate with you: Sending order confirmations, updates, newsletters (if you opt-in), and responding to inquiries.
    To analyze and personalize your experience: Using aggregated data to understand site trends and tailor website offerings.
    For legal reasons: Complying with legal obligations, resolving disputes, and enforcing our agreements.
    How We Share Your Information

    Service Providers: With trusted third parties who assist with website operations, payment processing, and marketing.
    Legal Compliance: If required by law or to protect the rights and safety of ourselves or others.
    Business Transfers: In the event of a merger, acquisition, or sale of assets.
    Security Measures

    We implement reasonable technical and organizational safeguards to protect your information. However, no data transmission or storage is entirely secure.

    Our website may contain links to other websites. We are not responsible for the privacy practices of those websites.

    Children's Privacy

    Our website is not intended for children under the age of 13. We do not knowingly collect personal information from children.

    Changes to This Policy

    We reserve the right to update this policy at any time. We will notify you of significant changes by posting the new policy on our website with an updated effective date.

    Contact Us

    If you have any questions regarding this Privacy Policy, please contact us at:
    ST10257942@vcconnect.edu.za
</p>
