@{
    ViewData["Title"] = "About Us";
}

<section class="hero"> 
    <h1>Our Story</h1> 
    <img src="/images/team-photo.jpg" alt="KhumaloCraft Emporium Team" /> 
</section>

<section class="mission">
    <div class="container"> 
        <h2>Our Mission</h2>
            <p> At KhumaloCraft Emporium, we believe in the power of  handcrafted artistry to tell stories, connect cultures, and enrich lives. We're committed to building a platform where talented artisans can share their creations with the world while receiving fair compensation and recognition. </p>
    </div>
</section>

<section class="values">
    <div class="container">
        <h2>Our Values</h2> 
         <ul> 
                <li> Authenticity: We celebrate the unique artistry and traditions embodied in each handcrafted piece. </li>
                <li> Sustainability: We support practices that are mindful of the environment and the well-being of artisan communities. </li>
                <li> Community: We foster a welcoming space where customers and artisans feel connected and valued. </li>
        </ul>
    </div>
</section>

<section class="artisans">
    <div class="container">
        <h2>Meet the Artisans</h2>
        </div>
</section>